.img-card {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.input-filter {
  background-color: #081f32!important;
  border-color: #fff !important;
  color: #fff !important;
}
.input-filter::placeholder {
  color: #fff;
}
.card-item-character {
  cursor: pointer;
}